* {
  font-size: 62.5%;
}

.timeline * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline {
  margin: 10rem auto;
  width: 100%;
  max-width: 92rem;
  border: .1rem solid #aaa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  /* COLORS */
  
  --clr-background: #ffffff;
  --clr-title: #333;
  --clr-description: #5f5f5f;
  --clr-secondary: #3f3f3f; 
  --clr-error: rgb(255, 50, 50);

  --clr-card-border: #c9c9c9;

  /* FONT SIZE */
  --fs-title: 2rem;
  --fs-description: 1.8rem;
  --fs-date: 1.4rem;
  --fs-time: 1.2rem;

  /* FONT WEIGHT */
}

.timeline .controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 8rem;
  border-bottom: .1rem solid #aaa;
  margin-bottom: 2rem;
}
.timeline .controls form {
  margin: .5rem 0;

}
.timeline .controls label {
  font-size: 1.6rem;
}
.timeline .controls input {
  margin: 0 1rem;

}

.timeline #tl-footer {
  margin-top: 2rem;
  width: 100%;
  min-height: 4rem;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}
.timeline #tl-footer::after, .timeline #tl-footer::before {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  background-color: transparent;
  display: none;
}
.timeline #tl-footer::after {
  background-color: var(--clr-background);
  width: 3rem;
  height: 3rem;
  z-index: -1;
  border-right: .3rem solid var(--clr-secondary);
  animation: load 2000ms infinite linear;
}

.timeline #tl-footer.load::after, 
.timeline #tl-footer.load::before {
  display: block;
}

.timeline #tl-footer p {
  display: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-secondary);
}

.timeline #tl-footer.error p, .timeline #tl-footer.message p {
  display: block;
}

.timeline #tl-footer.error p {
  color: var(--clr-error); 
}



.timeline .events {
  width: 100%;
  position: relative;
  overflow: hidden;
  --TM-lineHeight: 0%;
  --clr-line-hidden: #33333333;
  --clr-line-active: #333;
}

.timeline .events::before, .timeline .events::after {
  content: "";
  position: absolute;
  width: .2rem;
  border-radius: 1rem;
  left: 50%;
  top: 0;
  z-index: -1;
}

.timeline .events::after {
  height: 100%;
  background-color: var(--clr-line-hidden);
}

.timeline .events::before {
  height: var(--TM-lineHeight);
  background-color: var(--clr-line-active);
  transition: height 300ms linear;
}

.card {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  padding: .5rem 6rem .5rem 1rem;
}


.card.right {
  left: 50%;
  margin: .5rem 0;
  padding-left: 6rem;
  padding-right: 1rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  max-height: 30rem;
}

.card::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border: .5rem solid var(--clr-line-hidden);
  border-radius: 10rem;
  top: 3.5rem;
  right: -.1rem;
  transform: translate(50%);
  background-color: var(--clr-background);
  transition: border-color 300ms linear;
}
.card.active::before {
  border-color: var(--clr-line-active);
}

.card.right::before {
  left: .1rem;
  transform: translate(-50%);
}

.card .info {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 8rem;
  padding: 1rem 1.4rem;
  border: .1rem solid var(--clr-card-border);
  border-radius: .6rem;
  transform: translateX(-110%);
}
.card.right .info {
  transform: translateX(110%);
}

.card.active .info {
  transform: translateX(0);
  transition: transform 400ms 200ms ease-in;
}

.card .info h3 {
  color: var(--clr-title);
  font-size: var(--fs-title);
  margin: 1rem 0;
}
.card .info p {
  font-size: var(--fs-description);
  color: var(--clr-description);
  /* display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.card .info::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-top: .1rem solid var(--clr-card-border);
  border-right: .1rem solid var(--clr-card-border);
  top: 3.4rem;
  right: -.7rem;
  transform: rotate(45deg);
}

.card.right .info::after {
  left: -.7rem;
  right: unset;
  transform: rotate(-135deg);
}

.offset {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  right: -4rem;
  transform: translateX(100%);
}

.card.right .offset {
  left: -4rem;
  transform: translateX(-100%);
  right: unset;
}

.offset span {
  color: var(--clr-title);
  font-size: var(--fs-date);
  margin-top: 3rem;
  min-width: 15rem;
}

.right .offset span {
  text-align: right;
}

.offset span:last-child {
  font-size: var(--fs-time);
  margin-top: .4rem;
}

@keyframes load {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


@media only screen and (max-width: 900px) {
  .timeline .events::before, .timeline .events::after {
    left: 2%;
  }
  .card {
    width: 100%;
    padding-left: 6rem;
    padding-right: 2rem;
  }
  .card::before {
    left: calc(2% + .1rem);
    transform: translate(-50%);
  }

  .card.right::before {
    left: calc(2% + .1rem);
    transform: translate(-50%);
  }

  .card .info {
    transform: translateX(110%);
  }

  .card .info::after {
    left: -.7rem;
    transform: rotate(-135deg);
  } 

  .card.right {
    left: 0;
  }

  .card .offset { display: none; }
}

@media only screen and (max-width: 680px) {
  .timeline .events::before, .timeline .events::after {
    /* left: 1.6%; */
    left: 3%;
  }

  .card {
    width: 100%;
    padding-left: 4rem;
  }
  .card.right {
    padding-left: 4rem;
  }

  .card::before {
    width: .8rem;
    height: .8rem;
    border-width: .5rem;
    top: 3.8rem;
    left: calc(3% + .1rem);
  }
  .card.right::before {
    left: calc(3% + .1rem);
  }
}

@media screen and (max-width: 200px) {
  .card .info img { display: none; }
  .card .info h3 { display: none; }
  .card .info button { display: none; }

}

/* 
.info p {
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
} */